.title {
    margin-bottom: 0px;
}

.style-line {
    height: 5px;
    width: 60px;
    background-color: #009cff;
    margin-left: 0px;
    border: none;
    border-radius: 5px;
}

.revealUp {
    opacity: 0;
    visibility: hidden;
}
.spacer {
    height: 50vh;
    background-color: #000;
}